<!DOCTYPE html>
<html>
  <head>
    <title>DonkeyEar</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'partials/header' %>
    <div id="bg-img" data-img="/assets/background.png"></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
