<% if chat.id == @chat.id %>
  <div class="row" id="chat" style="background-color: #F0F8FF;">
<% else %>
  <div class="row" id="chat">
<% end %>
  <%= link_to chat_path(chat) do %>
    <div class="col-lg-3">
      <% if chat.user1 == current_user %>
        <%= image_tag chat.user2.picture.url, class: 'picture-md' %>
      <% else %>
        <%= image_tag chat.user1.picture.url, class: 'picture-md' %>
      <% end %> 
    </div>
    <div class="col-lg-7">
      <% if chat.user1 == current_user %>
        <h5><%= chat.user2.name %></h5>
      <% else %>
        <h5><%= chat.user1.name %></h5>
      <% end %> 
    </div>
  <% end %>
  </br>
  </br>
  </br>
</div>
